@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap");

body {
  background-color: white;
  height: 100%;
  margin: 0%;
  padding: 0%;
  font-family: "IBM Plex Sans KR", sans-serif;
}

h1 {
  color: white;
  font-family: "IBM Plex Sans KR", sans-serif;
  padding-left: 15%;
  padding-top: 30%;
}

ul {
  list-style: none;

  color: white;
  padding-top: 0%;
  margin-top: 0%;
  position: fixed;
  display: block;
}
p {
  color: white;
  font-family: "IBM Plex Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  padding: 10% 15%;
  position:sticky;
}

.list {
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 10% 25%;
}
.sedans {
  background-color: rgba(230, 155, 17, 0.897);
}
.bsedans {
  background-color: white;
  color: rgba(230, 155, 17, 0.897);
  display: flex;
  justify-content: center;
}

.suvs {
  background-color: teal;
}

.bsuvs {
  background-color: white;
  color: teal;
}

.luxury {
  background-color: rgb(16, 70, 70);
}

.bluxury {
  background-color: white;
  color: rgb(16, 70, 70);
}

button {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 5% 5%;
  width: 60%;
}

.but {
  padding-bottom: 0%;
  padding: 10% 10%;
  
}

.but:hover {
  transform: scale(1.2);
}

.content {
  display: block;
  position: fixed;
}

.scar {
  background-color: rgb(133, 100, 40);
  border-radius: 50%;

  padding: 7px 7px;
  height: 20px;
  width: 20px;
  position: relative;
  left: 15px;
  top: 20px;
}
.fa-car:before {
  content: "\f1b9";
  padding-left: 40%;
  padding-top: 40%;
  color: rgb(255, 205, 112);
}

.sucar {
  background-color: rgb(31, 97, 97);
  border-radius: 50%;

  padding: 7px 7px;
  height: 20px;
  width: 20px;
  position: relative;
  left: 15px;
  top: 20px;
}

.fa-car-side {
  content: "\f1b9";
  padding-left: 40%;
  color: rgb(41, 238, 238);
}

.lcar {
  background-color: rgb(18, 59, 59);
  border-radius: 50%;
  padding: 7px 7px;
  height: 20px;
  width: 20px;
  position: relative;
  left: 15px;
  top: 20px;
}

.fa-car-alt {
  content: "\f1b9";
  padding-left: 40%;
  color: rgb(22, 170, 170);
}


@media (min-width : 500px)
{
  .list
  {
display : flex;
justify-content: center;
flex-direction: row;
  }
}

@media (max-width : 500px)
{
  .list
  {
display : flex;
justify-content: center;
flex-direction: column;
  }
}
